div.Div-top {
    height: 2000px;
}


li a.btn-1 {
    border: 1px solid #0b2cec;
    padding: 5px 32px;
    border-radius: 10px;
}

li.ListRemove {
    list-style: none;
    margin-top: 16px;
    padding: 0 20px;
}

li a {
    transition: none;
}

div span.IconSet {
    top: 5px;
    left: 50px;
    font-size: 18px;
    color: #0b2cec;
}

div span.IconSet2 {
    top: 0px;
    left: 30px;
    font-size: 23px;
    color: #0b2cec;
}

a.icon-set {
    margin: 15px;
    font-size: 14px;
    font-weight: bolder;
    color: #0b2cec;
}

div a.dropdown-item:last-child {
    color: #ff0000;
}

input:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

select:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

div button.btn1 {
    background-color: #fff;
    color: #0b2cec;
    border: 1px solid #0b2cec;
    padding: 7px 40px;
    border-radius: 10px;
    font-weight: 400;
    outline: none;
}

hr.Line {
    border-top: 2px solid #0b2cec;
}

div.Line1 {
    border-top: 2px solid #0b2cec;
    margin-bottom: 10px;
}

a.text-line {
    font-size: small;
    color: #0b2cec;
}

div img.right-image {
    width: 100%;
    margin-top: 80px;
}

div span a {
    color: #0b2cec;
}

div span a:hover {
    color: #0b2cec;
}

div.footer {
    position: fixed;
    border-top: 1px solid #0b2cec;
    width: 100%;
    bottom: 0px;
    background-color: #ffffff;
}

div.Header {
    position: fixed;
    border-bottom: 1px solid #0b2cec;
    width: 100%;
    top: 0px;
    background-color: #fff;
    z-index: 999;
}

div ul li a.edit_text {
    padding: 8px 40px;
    /* margin-bottom: 10px; */
}

div.Div-top {
    margin-top: 120px;
}

div.edit_cont {
    margin-top: -120px;
}

div div.edit-left {
    margin-left: 180px;
}

div a img.social-image {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

div a.footer-a {
    color: #0b2cec;
}

span.icon-Posi {
    right: 10px;
    top: 10px;
}

span.icon-Posi-1 {
    left: 175px;
    top: 35px;
}

span.icon-Posi-2 {
    bottom: 0;
    right: 120px;
}

span.icon-Posi-3 {
    top: 0;
    right: 120px;
}

div a.footer-a:active {
    color: #020b3b;
}

div form.br-cr {
    border: 1px solid #0b2cec;
}

div label.Rem-me {
    color: #0b2cec;
}

div form.Bord-Col {
    color: #0b2cec;
}

div.CandiLog {
    background-color: #0b2cec;
}

div select.HomeLog {
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #0b2cec;
    padding: 5px none;
    height: 30px;
}

div .homeuser {
    color: #0b2cec;
    background-color: #ffffff;
    margin-top: -50px;
    margin-right: 15px;
}

div button.CandiView {
    /* padding:20px 40px ; */
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #0b2cec;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

div button.btn-3 {
    padding: 10px 60px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #0b2cec;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;
}

button#justify-tab-example-tab-apply {
    padding: 12px 280px !important;

}

button#justify-tab-example-tab-saved {
    padding: 2px 280px !important;

}

div div.grad {
    background-image: linear-gradient(to right, rgb(207, 210, 250), rgb(57, 60, 241));
}

div.grid-2 {
    background-image: linear-gradient(to left, rgb(207, 210, 250), rgb(57, 60, 241));
    height: 170px;
}

form.grid-2 {
    background-image: linear-gradient(to left, rgb(207, 210, 250), rgb(57, 60, 241));
    height: 170px;
}

div div form.Bor-1 {
    border: 1px solid #0b2cec;
}

div.vertical_line {
    border-left: 1px solid #0b2cec;
    height: 100%;
    position: absolute;
    left: 15%;
    margin-left: -3px;
    top: 10%;
}

div.bor-2 {
    margin: 50px;
}

div.edit {
    margin-left: 90px;
    margin-top: 30px;
}

div.edit_2 {
    margin-left: 200px;
    margin-top: -70px;

}

div img.Edit-img {
    height: 140px;
    width: 140px;
    display: block;
}

button.nav-link {
    margin-top: 45px !important;
    border: 1px solid #0b2cec !important;
    background-color: #fff !important;
    color: #0b2cec !important;
    width: 28% !important;
    border-radius: 8px !important;
    /* border: 1px solid #0b2cec !important; */
    margin-bottom: 5px !important;

}

div.nav-item {
    padding: 8px 30px !important;
}

button.btn {
    color: #fff !important;
    background-color: #0b2cec !important;
    border: 1px solid #0b2cec !important;
    border-radius: 14px !important;
    padding: 8px 25px !important;
    /* font-weight: 300 !important; */
    font-size: 13px;
}

div h6.search-test {
    color: #0b2cec;
    font-size: 21px;
}

div h6.search-test2 {
    color: #0b2cec;
    font-size: 13px;
}

button.btn4 {
    color: #0b2cec;
    background-color: #fff;
    border: 1px solid #0b2cec;
    padding: 5px 35px;
    border-radius: 8px;
    margin-right: 30px;
}

button.btn4:hover {
    color: #fff;
    background-color: #0b2cec;
    border: 1px solid #0b2cec;
    padding: 5px 35px;
    border-radius: 8px;
    margin-right: 30px;
}

form.form-size {
    /* min-height: 50%; */
    overflow-y: scroll;
    overflow-x: hidden;
}

div.dropdown-menu {
    opacity: 1 !important;
    font-weight: normal !important;
    color: #0b2cec !important;
    font-size: small !important;
}

i.icons-class {
    font-size: 22px;
    color: #0b2cec;
    margin-right: 15px;
    cursor: pointer;
}

i.icons-class2 {
    font-size: 22px;
    color: #ff0000;
    margin-right: 16px;
    cursor: pointer;
}

form.form2-size {
    max-width: 90%;
    margin-left: 25px;
}

div button a.lala:hover {
    color: #fff;
}

ul.nav-tabs {
    border-bottom: none !important
}

li.nav-item {
    display: flex !important;
    justify-content: space-evenly !important;
    width: 50% !important;
}

div button.btn-4 {
    padding: 60px 150px;
    border-radius: 20px;

}

div button.btn-5 {
    padding: 47px 150px;
    border-radius: 20px;

}

div p.exp-text {
    color: gray;
    font-size: 11px;
}

div p.sal-text {
    color: gray;
    font-size: 12px;
    margin-top: -16px;
}

ul li button.nav-link {
    color: #0b2cec;
}

div.Slider-div {
    height: 50%;
    width: 70%;
}

form.Form-slider:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


div div input h2.ErrorValidation {
    transition: all .8s ease-in-out;
    color: #020b3b;
}

div input.lalala {
    padding-left: 43px;
}

label.label-resume {
    top: 55px;
    left: 120px;
    margin-left: 35px;
    cursor: pointer;
    color: #0b2cec;
   
}

label.resume-upload2{
    display: block;
    margin-bottom: 10px;
}

label svg{
    margin-left:20px;
    width: 1.1rem;
    height: 1.1rem;
}


div.upload-resumee{
    margin-top: 10px;
    border: 1px solid #b1afaf;
    border-radius: 12px;
    padding: 35px;
    box-shadow: 0 11px 4px -1px hsl(0deg 3% 87% / 75%);
    -webkit-box-shadow: 0 5px 4px -1px hsl(0deg 3% 87% / 75%);
    -moz-box-shadow: 0 11px 4px -1px hsla(0,3%,87%,.75);
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
}

div.upload-resumee1{
    margin-top: 20px;
    border: 1px solid #b1afaf;
    border-radius: 12px;
    padding: 55px 10px;
    box-shadow: 0 11px 4px -1px hsl(0deg 3% 87% / 75%);
    -webkit-box-shadow: 0 5px 4px -1px hsl(0deg 3% 87% / 75%);
    -moz-box-shadow: 0 11px 4px -1px hsla(0,3%,87%,.75);
    /* text-align: start; */
    font-size: 1vw;
    font-weight: 500;
}

div.upload-resumee2{
    margin-top: 20px;
    border: 1px solid #b1afaf;
    border-radius: 12px;
    padding: 55px 10px;
    box-shadow: 0 11px 4px -1px hsl(0deg 3% 87% / 75%);
    -webkit-box-shadow: 0 5px 4px -1px hsl(0deg 3% 87% / 75%);
    -moz-box-shadow: 0 11px 4px -1px hsla(0,3%,87%,.75);
    /* text-align: start; */
    font-size: 1vw;
    font-weight: 500;
}