button.active{
 background-color: #0b2cec !important;
  color: #fff !important;
  padding: 7px 20px !important;
  border-radius: 10px !important;
 border: 1px solid #0b2cec !important;
}

a.active{
    background-color: #0b2cec !important;
     color: #fff !important;
     padding: 7px 25px !important;
     border-radius: 10px !important;
    border: 1px solid #0b2cec !important;
   }


